<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Tip</title>
</head>

<body>
    <h1>Add a Tip</h1>
    <form action="/tips/create/process" method="post">
        <label for="tip">Tip: </label><input type="text" name="tip" id="tip" placeholder="tip"><br>
        <input type="submit" value="submit">
    </form>
</body>

</html>