<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Goal</title>
</head>

<body>
    <h1>Add a Goal</h1>
    <form action="/goals/create/process" method="post">
        <label for="Goal">Goal: </label><input type="text" name="Goal" id="Goal" placeholder="Goal">
        <input type="submit" value="submit">
    </form>
</body>

</html>