<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Question</title>
</head>

<body>
    <h1>Add a Question</h1>
    <form action="/questions/create/process" method="post">
        <label for="day">Day</label><input type="text" name="day" id="day" placeholder="day"><br>
        <label for="question">Question</label><input type="text" name="question" id="question" placeholder="question">
        <label for="emotion">Emotion</label><input type="text" name="emotion" id="emotion" placeholder="emotion">
        <input type="submit" value="submit">
    </form>
</body>

</html>